  <div id="home" style="padding-top: 60px;"></div>
    <!-- Main hero unit for a primary marketing message or call to action -->
    <header class="hero-unit">
      <div class="inner">
        <h1>RocketShock</h1>
        <p>Capture Your Ideas. Make It Happen.</p>
        <p style="font-size:20px;"><strong>COMING SOON</strong>
        </p>
      </div>
    </header>
  </div>
  <section id="why">
        <div class="page-header">
          <h1>Why RocketShock</h1>
        </div>
        <div class="page-body">
          <p>Because it is simple. How often have you said, "I thought about that." when you see a new business launched? Individuals and organizations don’t effectively capture their innovative concepts. To execute your ideas, you need to capture them, evaluate, iterate and execute them. RocketShock provides the tools to capture and develop your ideas as well as provide options for getting them realized</p>
          <div class="row">
            <div class="span3">
              <h3>Capture</h3>
              <p>AppJS allows you to use HTML 5 APIs to create attractive applications from Word Processors to 3D Games. You are no longer limited to default GUI widgets that plaforms force you to use. Creating custom UIs is now only limited to your imagination!</p>
              <p><a class="btn" href="http://slides.html5rocks.com/" target="_blank">More &raquo;</a></p>
            </div>
            <div class="span3">
              <h3>Evaluate and Model</h3>
              <p>AppJS allows you to use HTML 5 APIs to create attractive applications from Word Processors to 3D Games. Creating custom UIs is now only limited to your imagination!</p>
              <p><a class="btn" href="http://slides.html5rocks.com/" target="_blank">More &raquo;</a></p>
            </div>
            <div class="span3">
              <h3>Productize</h3>
               <p>Using CSS you can decorate widgets as you like. Create a custom widget in HTML and complete your work with decorating it. Adding shadows, animating elements and transforming objects in 3D space are a few examples of what you can do with CSS 3. </p>
              <p><a class="btn" href="http://www.css3.info/preview/" target="_blank">Learn more about CSS 3 &raquo;</a></p>
           </div>
            <div class="span3">
              <h3>Execute</h3>
              <p>The interesting part of AppJS is that it uses Node.js as the backbone. Node.js has been built to ease the process of developing scalable network applications. But today, you can see Node nearly everywhere! It has a nice API and lots of modules.</p>
              <p><a class="btn" href="http://nodejs.org" target="_blank">Read more at nodejs.org &raquo;</a></p>
            </div>
          </div>
        </div>
      </section>