  <div id="home" style="padding-top: 60px;"></div>
    <!-- Main hero unit for a primary marketing message or call to action -->
    <header class="hero-unit">
      <div class="inner">
        <h1>Build Cross-Platform Applications</h1>
        <p>for desktop using HTML, CSS, Javascript</p>
        <p>
          <a class="btn btn-warning btn-large enabled">Download AppJS (v0.0.2)</a>
          <a class="btn btn-large enabled">Read Documentation</a>
        </p>
        <p style="font-size:20px;"><strong>Windows/Mac port is still under heavy development. You can not use AppJS on these platform at the time.</strong></p>
      </div>
    </header>
  </div>
  <section id="why">
        <div class="page-header">
          <h1>Why AppJS?</h1>
        </div>
        <div class="page-body">
          <p>Because it is simple and yet powerful. Using AppJS you don't need to be worry about coding cross-platform or learning new languages and tools. You are already familiar with HTML, CSS and Javascript. What is better than this stack for application development? Beside, AppJS uses Chromium at the core so you get latest HTML 5 APIs working. So relax and focus on the task your application should do.</p>
          <div class="row">
            <div class="span4">
              <h3>HTML 5</h3>
              <p>AppJS allows you to use HTML 5 APIs to create attractive applications from Word Processors to 3D Games. You are no longer limited to default GUI widgets that plaforms force you to use. Creating custom UIs is now only limited to your imagination!</p>
              <p><a class="btn" href="http://slides.html5rocks.com/" target="_blank">Learn more about HTML 5 &raquo;</a></p>
            </div>
            <div class="span4">
              <h3>CSS 3</h3>
               <p>Using CSS you can decorate widgets as you like. Create a custom widget in HTML and complete your work with decorating it. Adding shadows, animating elements and transforming objects in 3D space are a few examples of what you can do with CSS 3. </p>
              <p><a class="btn" href="http://www.css3.info/preview/" target="_blank">Learn more about CSS 3 &raquo;</a></p>
           </div>
            <div class="span4">
              <h3>Node.js</h3>
              <p>The interesting part of AppJS is that it uses Node.js as the backbone. Node.js has been built to ease the process of developing scalable network applications. But today, you can see Node nearly everywhere! It has a nice API and lots of modules.</p>
              <p><a class="btn" href="http://nodejs.org" target="_blank">Read more at nodejs.org &raquo;</a></p>
            </div>
          </div>
        </div>
      </section>